<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.todolist.mapper.MemberMapper">

    <!--  Read: 특정 아이의 레코드를 조회  -->
    <select id="read" resultType="com.example.todolist.domain.MemberVO">
        SELECT * FROM member WHERE login_id = #{login_id}
    </select>

    <!-- Update: member 레코드 수정  -->
    <update id="update" parameterType="com.example.todolist.domain.MemberVO">
        UPDATE member
        SET login_passwd = #{login_passwd}
        WHERE login_id = #{login_id}
    </update>

    <!-- Delete: 특정 TodoList 레코드 삭제 -->
    <delete id="delete" parameterType="String">
        DELETE FROM member WHERE login_id = #{login_id}
    </delete>


</mapper>

